

<div class="course-container">
<div class="w-100 p-4"></div>
  <div class="row mb-3">
 
  <% 1.times do %>
  <% @courses.each do |course| %>
  <div class="col-4 d-flex align-items-stretch mb-3 mt-2">
    
  <%= render course %>



  </div>
  <%end %>
  <%end %>
  </div>
  </div>

  <div class="container">
<p style="color: green"><%= notice %></p>

